<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubmitURL</title>
    <link rel="stylesheet" href="/views/styles/styles.css">
</head>

<body>


    <h1>Welcome <%= user%>.</h1>
    <div class="formsection">
        <a href="/user/logout" style="text-decoration: none;">Logout.</a>
        <br> <br>
        <a href="/user/getallurls" style="text-decoration: none;">Get All URLs.</a>
        <br><br>
        <form action="/user/submiturl" method="post" id="myForm2">


            <p>
                <label for="longUrl">Long URL*:</label>
                <input class="input1" type="text" name="longUrl" id="longUrl" placeholder="longUrl"
                    required="required" />
                <br><br>

            <div id="error_password" style="display: none; color: red;">
                Invalid input for the Password field.
                <br><br>
            </div>
            </p>

            <br>
            <p style="text-align: center;">

                <button class='glowing-btn'><span class='glowing-txt'>
                        S<span class='faulty-letter'>U</span>BM<span class='faulty-letter'>I</span>T</span>
                </button> <br> <br>
                <button class='glowing-btn' onclick="resetButton()"><span class='glowing-txt'>
                        R<span class='faulty-letter'>E</span>-S<span class='faulty-letter'>E</span>T</span>
                </button>
                <br> <br>
            </p>

            <br> <br>
            <div id="result"></div>

        </form>

        <br><br>
    </div>
    
</body>

</html>